.icon-img{
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  width:90px;
  height:90px;
  object-fit: cover;
  border-radius: 50%;
  margin:5px;
  overflow: hidden;
  border:2px solid white;
}

