<div class="row">
  <!-- col-1 -->
  <div class="work-space col-md-12">
    <div class="container mycss" [ngStyle]="mycssDy">
      <div class="example-card" *ngFor="let u of usersset">
        <div mat-card-avatar class="mr-3">
          <img class="icon-img" [src]="u.imagepro | authImage | async" />
        </div>
        <div>
          <mat-card-title [ngStyle]="textShortDy">{{u.firstname}}&nbsp;
            {{u.lastname}}</mat-card-title>
          <mat-card-subtitle>{{u.firstname}}</mat-card-subtitle>
        </div>
        <span class="example-spacer"></span>
        <button type="button" mat-raised-button color="accent" class="btn-sty" (click)="deleteUserCall(u.id)">
          Delete</button>
      </div>
    </div>
    <mat-divider class="my-2 mx-3 mr-5"></mat-divider>
    <!-- col-2 -->
  </div>
  </div>
<div style="width: 100%; height:200px;"></div>
